<style>
  @import url("https://fonts.googleapis.com/css?family=Roboto:300");
  body {
    background-color: #c0392b;
    font-family: "Roboto", sans-serif;
    color: #fff;
  }
  h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    text-align: center;
    color: #fff;
  }
  .play-button {
    height: 300px;
    width: 300px;
    display: block;
    margin: 60px auto;
    overflow: hidden;
    position: relative;
  }
  .left {
    height: 100%;
    float: left;
    background-color: #fff;
    width: 36%;
    transition: all 0.25s ease;
    overflow: hidden;
  }
  .triangle-1 {
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
  .triangle-2 {
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  .triangle-1,
  .triangle-2 {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    width: 0;
    height: 0;
    border-right: 300px solid #c0392b;
    border-top: 150px solid transparent;
    border-bottom: 150px solid transparent;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
  }
  .right {
    height: 100%;
    float: right;
    width: 36%;
    background-color: #fff;
    transition: all 0.25s ease;
  }
  .paused .left {
    width: 50%;
  }
  .paused .right {
    width: 50%;
  }
  .paused .triangle-1 {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .paused .triangle-2 {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
  }
</style>

<h1>SICOP STREAMING API</h1>
<div style="text-align:center">
  <a>Total user online :</a>
  <a class="usercount"></a>
</div>
